.element__like {
  background-image: url('../../../images/like-button.svg');
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.15s linear;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
}


