.profile__edit-button {
  background-image: url('../../../images/edit-button.svg');
  background-color: var(--color-dark);
  border: none;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin: 15px 0 0 18px;
  order: 2;
}

@media (max-width: 767px) {
  .profile__edit-button {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }
}
