.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  column-gap: 30px;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(116px, max-content) 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
