.popup__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-light);
  width: 100%;
  border-radius: 10px;
  padding: 34px 36px 37px;
}

@media (max-width: 767px) {
  .popup__form {
    padding: 28px 22px 25px;
  }
}

