.profile__avatar_button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  max-width: 125px;
  max-height: 130px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
