.popup__title {
  font-family: 'Inter', 'Georgia', 'Verdana', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 767px) {
  .popup__title {
    font-size: 18px;
  }
}
