.popup__occupation {
  font-family: 'Inter';
  font-size: 14px;
  box-sizing: border-box;
  max-width: 358px;
  max-height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 30px 0 48px 0;
  padding: 4px 0 13px 2px;  /*дал отступ слева в 2px, потому что когда поле ввода активно первая буква сливается с рамкой поля ввода*/
}

@media (max-width: 767px) {
  .popup__occupation {
    margin: 30px 0 42px 0;
  }
}
